<div id="bg" class="d-flex flex-column justify-content-center m-0">
    <div class="d-flex flex-column align-items-start m-5">
        <h1 id="title" class="text-uppercase">EventPay</h1>
    
        <h3>Cashless, wasteless</h3>
    
        <p>Create & manage events</p>
        <p class="align-center">Create your own event today and say no to plastic.</p>
        <button type="button" class="btn btn-outline-dark btn-lg" [routerLink]="'/signin'">
            BEGIN
        </button>
    </div>
</div>